{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Wyniki losowania{% endblock %}

{% block page_content %}
    <div class="page-header">
    <h1>Losowania Lotto z dnia {{ date }}:</h1>
    </div>
    <h4>Wyniki losowania: {{ template_data[0]['results'] }}</h4>
    <hr>
    <ul class="list-group">
    {% for line in template_data %}
        <li class="list-group-item">Kupon: {{ line['handNumbers'] }} - trafionych:
            {{ line['results_format']|safe }} -
            {% if line['wyniki']|length > 0 %}
            <b>{{ line['wyniki']|length }}</b> trafienia</li>
            {% else %}<em>Brak trafień</em>
            {% endif %}
    {% endfor %}
    </ul>
    <a href="{{ url_for('lotto') }}" class="btn btn-default" role="button">Sprawdź nowe kupony</a>

{% endblock %}